#errorMessages {
    font-size: 20px;
}

header {
    margin-top: -1rem;
    margin-left: -1rem;
    margin-right: -0.5rem;
    padding-top: 1rem;
    padding-left: 10%;
    padding-bottom: 1rem;
    background-color: rgba(16, 60, 95);
    color: rgba(255,255,255);
    width: auto;
    font-size: 2rem;
}

footer {
    margin-left: -1rem;
    margin-bottom: -1rem;
    margin-right: -0.5rem;
    padding-top: 1rem;
    text-align: center;
    padding-bottom: 1rem;
    background-color: rgba(16, 60, 95);
    color: rgba(255,255,255);
    width: auto;
    font-size: 2rem;
}

.detail {
    font-size: 12px;
    margin: 2px;
}

body {
    font-family: calibri, serif;
    background-color: rgba(233, 233, 233);
}

#content {
    /*text-align: left;
    margin: auto;
    margin-top: -1.3rem;
    width: 80%;
    background-color: rgba(255,255,255);
    overflow: visible;
    padding-left: 10em;*/
    margin: 50%;
}

textarea {
    padding: 0.4em;
    margin-left: 0;
    margin-bottom: 4rem;
    height: 20rem;
    width: 90%;
    overflow: scroll;
}

#inputs {
    list-style: none;
    font-size: 1.3rem;
    line-height: 1.8em;
    padding: 0;
}

li {
    padding: 0;
}

input {
    padding: 0.4em;
    margin-bottom: 1em;
    font-size: 1rem;
}

button {
    background-color: rgba(16, 60, 95);
    border: none;
    color: rgba(255,255,255);
    padding: 0.5em 2em;
    margin: 0.2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: rgb(24, 96, 154);
}

button:focus {
    background-color: #006bad;
}

#generate {
    margin-left: 0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 4.3em;
    height: 1.6em;
}

/*------ Slider Switch CSS ---------*/
.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ca2222;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 1.2em;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.2em;
    width: 1.2em;
    left: 0.3em;
    bottom: 0.2em;
    background-color: rgba(255,255,255);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2ab934;
}

input:focus + .slider {
    box-shadow: 0 0 1px #006bad;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(55px);
}

.slider:after {
    content: "NO";
    color: rgba(255,255,255);
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
}

input:checked + .slider:after {
    content: "YES";
}

/*------ Radio Button CSS ---------*/
/* Customize the label (the container) */
.radio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom radio button */
.checkdot {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio:hover input ~ .checkdot {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio input:checked ~ .checkdot {
    background-color: rgba(16, 60, 95);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkdot:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio input:checked ~ .checkdot:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio .checkdot:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgba(255,255,255);
}

/*------ Checkboxes CSS ---------*/
/* The container */
.checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
    background-color: #006bad;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid rgba(255,255,255);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
